Repository PyThaiNLP/pythainlp, pull requests merged in 2021-05, with the labels that each got.

#556 Update .gitignore and macos-test.yml
  .github/workflows/macos-test.yml
  .gitignore
Labels: bug, refactoring

#559 Fix misspellings in dictionary (words_th.txt)
  notebooks/clean-dict.ipynb
  pythainlp/corpus/words_th.txt
Labels: bug, corpus

#560 Fix misspellings in dictionary (words_th.txt)
  pythainlp/corpus/words_th.txt
Labels: bug, corpus

#561 Fix misspellings in dictionary (words_th.txt)
  pythainlp/corpus/words_th.txt
Labels: bug, corpus

#564 Fix misspellings in dictionary (words_th.txt)
  pythainlp/corpus/words_th.txt
Labels: bug, corpus

#563 Fix issue #552 by removing the unreachable branch
  pythainlp/transliterate/royin.py
Labels: refactoring

#565 Fix misspellings in dictionary (words_th.txt)
  pythainlp/corpus/words_th.txt
Labels: bug, corpus

#562 Tokenize repeating dots and commas from numbers (fix #461)
  pythainlp/tokenize/multi_cut.py
  pythainlp/tokenize/newmm.py
  tests/test_tokenize.py
Labels: enhancement

#566 Refactor Royin Transliterate: Avoid embedded if blocks and simplified consonant replacing operations
  pythainlp/transliterate/royin.py
Labels: refactoring

#569 Fix misspellings in dictionary (words_th.txt)
  pythainlp/corpus/words_th.txt
Labels: bug, corpus
