Repository PyThaiNLP/pythainlp, pull requests merged in 2024-11, with the labels that each got.

#962 Fix expand maiyamok
  pythainlp/util/normalize.py
Labels: bug

#971 Add test_tag to __init__
  tests/__init__.py
  tests/testx_tokenize.py
  tests/testx_util.py
Labels: tests

#972 Add test_corpus to __init__
  pythainlp/corpus/core.py
  tests/__init__.py
  tests/test_corpus.py
Labels: tests

#974 Add test coverage
  pythainlp/cli/__init__.py
  tests/test_cli.py
Labels: tests

#967 Add test_khavee to test suite
  examples/khavee.py
  pythainlp/khavee/core.py
  tests/__init__.py
  tests/test_khavee.py
Labels: tests

#975 Create CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#977 Add testc_tools (misspell)
  .github/workflows/pypi-publish.yml
  .github/workflows/pypi-test.yml
  .github/workflows/unittest.yml
  pythainlp/util/strftime.py
  tests/compact/__init__.py
  tests/compact/testc_parse.py
  tests/compact/testc_tokenize.py
  tests/compact/testc_tools.py
  tests/compact/testc_util.py
  tests/core/test_tag.py
  tests/core/test_tokenize.py
  tests/extra/testx_spell.py
  tests/extra/testx_tokenize.py
Labels: tests

#978 Fix warnings and types
  .github/workflows/unittest.yml
  pythainlp/corpus/common.py
  pythainlp/corpus/oscar.py
  pythainlp/corpus/th_en_translit.py
  pythainlp/corpus/tnc.py
  pythainlp/corpus/ttc.py
  pythainlp/generate/core.py
  pythainlp/generate/thai2fit.py
  pythainlp/spell/symspellpy.py
  pythainlp/tag/perceptron.py
  pythainlp/tokenize/nlpo3.py
  pythainlp/transliterate/thai2rom.py
  tests/core/__init__.py
  tests/core/test_generate.py
  tests/extra/testx_generate.py
Labels: refactoring, tests

#979 Fix success check in nlpo3.load_dict
  pythainlp/tokenize/nlpo3.py
Labels: bug

#980 Add tests.compact.transliterate (PyICU test)
  tests/compact/__init__.py
  tests/compact/testc_tools.py
  tests/compact/testc_transliterate.py
  tests/core/test_ancient.py
  tests/core/test_transliterate.py
  tests/extra/testx_translate.py
  tests/extra/testx_transliterate.py
  tests/extra/testx_ulmfit.py
  tests/extra/testx_wangchanberta.py
  tests/extra/testx_word_vector.py
Labels: tests

#981 Add documentation about compact install option
  CONTRIBUTING.md
  README.md
  README_TH.md
  setup.py
  tests/README.md
  tests/compact/testc_tokenize.py
  tests/core/test_tokenize.py
Labels: documentation

#987 Add nlpo3 to compact install
  docker_requirements.txt
  pythainlp/__init__.py
  setup.cfg
  setup.py
  tests/README.md
  tests/compact/testc_tokenize.py
  tests/extra/testx_tokenize.py
Labels: dependencies

#994 Use "build" instead of setup.py + add "[cd build]" build trigger word
  .github/workflows/pypi-publish.yml
  .python-version
  build_tools/github/check_build_trigger.sh
Labels: infrastructure

#998 Add Thai Solar Date convert to Thai Lunar Date
  docs/api/util.rst
  pythainlp/util/__init__.py
  pythainlp/util/thai_lunar_date.py
  tests/core/test_util.py
Labels: enhancement
